.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #2d3441;
  height: 100vh;
}


.rightContainer {
  height: 100%;
  width: calc(100% - 230px);
}

.editable {
  text-align: left;
  padding: 10px;
  background-color: #2d3441;
  border-style: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  outline: none;
}

.draggable {
  width: calc(100% - 138px);
  float: left;
  height: 32px;
  background-color: rgb(24, 24, 32);
  -webkit-app-region: drag;
  z-index: 2;
}

.draggable p {
  color: white;
  padding: 7.5px;
  margin: 0;
  font-size: 11px;
  float: left;
}

.revealButton {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: 20px;
}

.leftMenu {
  background-color: rgb(42, 42, 48);
  height: 100%;
  width: 210px;
  float: left;
  box-shadow: -37px 40px 90px 1px;
}

.topBar {
  height: 32px;
  width: calc(100% - 10px);
  padding: 5px;
  background-color: rgb(54, 54, 59);
}

.topBar button {
  font-family: 'Segoe MDL2 Assets';
  height: 32px;
  width: 32px;
  background-color: rgb(58, 58, 66);
  color: white;
  border-width: 2px;
  border-radius: 8px;
  border: 1px solid rgb(38, 38, 44);
  margin: 0 4px;
}

.topBar button:hover {
  background-color: rgb(42, 42, 48);
}

.topBar button:focus {
  background-color: rgb(61, 61, 70);
}

.App-link {
  color: #61dafb;
}

.windowControls {
  background-color: rgb(24, 24, 32);
  float: right;
  height: 32px;
}

.windowControls * {
  font-family: 'Segoe MDL2 Assets', Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  border-style: none;
  color: white;
  height: 100%;
  width: 46px;
  font-size: 10px;
}

.entryBar {
  background-color: rgb(42, 42, 48);
  height: 40px;
  width: 500px;
  position: absolute;
  top: 32px;
  left: calc(50% - 250px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 20px 5px rgba(25, 26, 31, 0.5);
}

.entryBar * {
  background-color: rgb(42, 42, 48);
  border-style: none;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 10px;
  outline: none;
}

.windowControls *:hover {
  background-color: rgb(45, 45, 65);
}

.fileEntry {
  color: white;
  padding: 10px;
  font-size: 13px;
}

.selectedEntry {
  background-color: rgb(61, 61, 70);
}

.fileEntry:hover {
  background-color: rgb(50, 50, 55);
  cursor: pointer;
}

.devBuildNotifier {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
}