.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #2d3441;
  height: 100vh;
}

.editable {
  text-align: left;
  padding: 10px;
  background-color: #2d3441;
  border-style: none;
  height: 100%;
  width: calc(100% - 30px);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.draggable {
  width: 100%;
  height: 50px;
  background-color: rgb(24, 24, 32);
  -webkit-app-region: drag;
}

.draggable p {
  color: white;
  padding: 13px;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
