@font-face {
  font-family: "segoeMDL2";
  src: url(./fonts//SegMDL2.ttf);
}

.disabled {
  display: none;
}

h1, h2, h3 {
  min-height: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  margin: 10px;
}

*::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgb(15 15 20/0.4);
  border-radius: 17px;
}

img,
.imageFrame {
  filter: drop-shadow(-2px 0px 10px rgb(15 15 20/0.3));
  /* box-shadow: -2px 0px 10px rgb(15 15 20/0.3);; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #2d3741;
  height: 100vh;
}

main {
  height: calc(100vh - 57px);
  display: flex;
}

code {
  pointer-events: auto;
  z-index: 3;
  min-height: 20px;
}

code,
hljs {
  position: relative;
  left: 0;
  display: inline-block;
  background-color: black !important;
  padding: 20px !important;
  border-radius: 10px !important;
  white-space: pre;
}

.hljs {
  transform: translateX(-100%);
  opacity: 0.8;
  pointer-events: none;
}

.editable {
  width: calc(100% - 210px);
  text-align: left;

  border-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  outline: none;
}

.shadowElement {
  height: 0.5px;
  box-shadow: 3px 3px 3px;
  width: 100vw;
  position: absolute;
}

.helpPage,
.editable {
  overflow-y: auto;
  padding: 10px;
  color: white;
}

.helpPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 40px;
  background-color: rgb(40 40 48);
  border-radius: 17px;
  box-shadow: 0 0 20px rgb(24 24 28/0.52);
  padding: 20px;
  width: calc(100vw -100px);
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.shadowElement {
  z-index: 100;
  position: fixed;
  margin-top: 100px;
  bottom: 35px;
  left: 45px;
  width: calc(100% - 85px);
  height: 250px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  pointer-events: none;
  box-shadow: inset 4px -65px 23px -27px rgb(40 40 48);
}

.editable img {
  resize: both;
}

.imageFrame {
  /* background-size: 100%; */
  resize: both;
  overflow: auto;
  display: inline-block;
}

.imageFrame::selection {
  border: 5px solid black;
  background: none;
}

.imageFrame:active {
  border: 2px dashed rgb(123, 123, 138);
}

.draggable {
  width: calc(100% - 138px);
  height: 32px;
  background-color: rgb(24, 24, 32);
  -webkit-app-region: drag;
  z-index: 2;
}

.draggable p {
  color: white;
  padding: 7.5px;
  margin: 0;
  font-size: 11px;
  float: left;
}

.revealButton {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: 20px;
}

/* .leftMenu {
  background-color: rgb(42, 42, 48);
  width: 210px;
  resize: horizontal;
  border: 2px solid;
} */

.leftMenu {
  background-color: rgb(42, 42, 48);
  min-width: 220px;
  -webkit-user-drag: none;
  box-shadow: 2px -1px 20px rgb(24 24 32/0.32);
  overflow-y: auto;
  overflow-x: hidden;
}

.leftMenu .fileEntry {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}

.resizerSpace {
  height: 100%;
  width: 10px;
  cursor: w-resize;
  transition: background-color 0.2s;
  transition: width 0.3s;
  background-color: transparent;
}

.resizerSpace:hover,
.resizerSpace:active {
  background-color: rgb(64 100 119/0.5);
  width: 15px;
}

.resizerSpace:hover,
.resizerSpace:active {
  cursor: ew-resize;
}

.searchBox {
  background-color: rgb(71, 71, 82);
  border: 1px solid rgb(81, 81, 95);
  width: calc(100% - 22px);
  padding: 10px;
  outline: none;
  color: white;
}

.topBar {
  height: 32px;
  width: calc(100% - 10px);
  padding: 5px;
  background-color: rgb(54, 54, 59);
}

.topBar button,
.actionButton {
  font-family: "segoeMDL2";
  height: 32px;
  width: 32px;
  background-color: rgb(58, 58, 66);
  color: white;
  border-width: 2px;
  border-radius: 8px;
  border: 1px solid rgb(38, 38, 44);
  margin: 0 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.topBar .red:hover {
  background-color: rgb(88, 7, 7);
  border-color: rgb(51, 4, 4);
}

.topBar button:hover,
.actionButton:hover {
  background-color: rgb(42, 42, 48);
}

.topBar button:focus,
.actionButton:focus {
  background-color: rgb(61, 61, 70);
}

.bottomBar {
  height: 25px;
  background-color: rgb(36, 36, 41);
  width: calc(100% - 20px);
  padding: 0 10px;
  float: right;
}

.bottomBar p {
  margin: 0;
  color: white;
  font-size: 12px;
  height: 25px;
  line-height: 23px;
}

.bottomBarInfo {
  float: left;
}

.charNumbers {
  float: right;
}

.App-link {
  color: #61dafb;
}

.windowControls {
  background-color: rgb(24, 24, 32);
  float: right;
  height: 32px;
}

.windowControls * {
  font-family: "segoeMDL2", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  border-style: none;
  color: white;
  height: 100%;
  width: 46px;
  font-size: 10px;
}

.windowBarContainer {
  display: flex;
  justify-content: flex-start;
}

.entryBar {
  height: 40px;
  width: 500px;
  position: absolute;
  top: 32px;
  left: calc(50% - 250px);
  border-radius: 0 0 10px 10px;
  box-shadow: 12px 0px 10px 5px rgba(25, 26, 31, 0.3);
}

.entryBar * {
  background-color: rgb(66, 66, 71);
  border-style: none;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 10px;
  outline: none;
  letter-spacing: 0.3px;
}

.windowControls *:hover {
  background-color: rgb(45, 45, 65);
}

.windowControls button div {
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
}

.fileEntry {
  color: white;
  padding: 5px;
  font-size: 13px;
  min-height: 32px;
  position: relative;
}

.selectedEntry {
  background-color: rgb(61, 61, 70);
}

.fileEntry:hover {
  background-color: rgb(50, 50, 55);
  cursor: pointer;
}

.fileEntry button {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.fileEntry * {
  display: inline;
  vertical-align: middle;
}

.fileEntry p {
  margin: auto;
  line-height: 32px;
  letter-spacing: 0.3px;
}

.fileEntry:hover button {
  display: block;
}

.devBuildNotifier {
  color: white;
  position: absolute;
  bottom: 40px;
  right: 20px;
  opacity: 0.5;
}
